#main-content-container{
    background-color:#2F4F4F;
    height: 400px;
}

body {
    color: whitesmoke;
}

p {
    width: 50%;
    padding-bottom: 20px;
    margin: auto;
    font-size: 25px;
    font-style: italic;
}

label {
    font-size: 25px;
    letter-spacing: 1.5px;
}

ul li {
    list-style-type: none;
}

.answer-button {
    margin-bottom: 7px;
}

#question {
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}

#welcome {
    text-align: center;
}

#quiz {
    display: none;
    text-align: center;
}

#score {
    display: none;
    text-align: center;
}

#scoreboard {
    display: none;
    text-align: center;
}

#username {
    border: 1px solid #999;
	outline:0;
    background:  whitesmoke ;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgray;
}